body{
    background: url('./Images/Background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
h1, h2{
  color:white;
  text-decoration: underline;
}
.form{
  background-color: rgb(223, 223, 223,0.5); 
  padding:15px 0 25px 0 ;
  border-radius: 15px;
  margin-bottom:20px;
}
.Form{
  background-color: rgb(223, 223, 223,0.4);
  padding:15px 0 10px 0;
  border-radius: 15px;
  margin-bottom:20px;
}
a{
  color:white !important;
}
button{
  width:100%;
}
.round{
  border-radius: 20px !important;
}
.serial_no{
  width:1%;
}
.logout{
  margin:auto;
  position: absolute !important;
  left: 0;
  right: 0;
}
/* Darker background-color on hover */
tr:hover {
  background: rgb(128, 127, 127) !important;
}
td:hover {
  background: rgb(204, 204, 204);
  cursor: cell;
}

/* Button Animation */
.btn {
  position: relative;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
 .btn:after {
  content: "";
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.submit:after{
  background: rgb(142, 232, 248);
}
.update:after{
  background: #90EE90;
}
.edit:after{
  background: rgb(165, 236, 248);
}
.delete:after{
  background: rgb(245, 178, 178);
} 
/* Extra small devices (phones, 300px and down) */
@media only screen  and (min-width: 250px) and (max-width: 300px){
  h1{
    font-size: 32px !important;
  }
  h2{
    font-size: 26px !important;
  }
}
@media only screen and (max-width: 249px){
  h1{
    font-size: 26px !important;
  }
  h2{
    font-size: 22px !important;
  }
}